.nav-wrapper{
	padding-left: 50px;
	padding-right: 50px;
}

.logo{
	font-weight: bold;
}

li a.active{
	background-color: #0a69a2 ;

}
.sidenav li a.active{
	background-color: #e0e0e0;
}
html, body, .block {
        height: 100%;
}
.container{
	padding-top: 50px;
	padding-bottom: 50px;
}




.nav-wrapper a i{
	margin-left: -50px;
}

.tombol1{

	border-radius: 20px 20px !important;
	border-width: 2px !important;
	border-color: white;
	color: #0277bd;
	background-color: white;
	border-style: solid;
}
.tombol1:hover{
	background-color: #0277bd;
	color: white;
}

.tombol2{

	border-radius: 20px 20px !important;
	border-width: 2px !important;
	color: white;
	background-color:  #0277bd;
}
.tombol2:hover{
	transform: translate(0px, -6px);
	background-color:  #0277bd;
	box-shadow: 0px 5px 13px #0278bddc;

}

.parallax-container{
	height: 100%;
}

.parallax img{
	opacity: 0.5 !important;
}
.img-hero{
	
	max-width: 150% !important;
}
.main{
	margin-top: 50px;
}
.hero-name{
	font-weight: bold;
}
.main .tombol2{
	margin-top: 50px;
	box-shadow: 0px 5px 10px #0278bd71;
}
.hero .img{
	opacity: 0;
	transform: translate(-100px, 0px);
	transition: 1s;
}
.hero .text{
	opacity: 0;
	transform: translate(100px, 0px);
	transition: 1s;
}
.hero .img.muncul2 {
	opacity: 1;
	transform: translate(0,0);
}
.hero .text.muncul3{
	opacity: 1;
	transform: translate(0,0);
}

.kiri,.kanan{
	opacity: 0;
	transform: translate(-50px,0) rotate(20deg);
	transition: 1s;
}
.kanan{
	transform: translate(50px,0) rotate(-20deg);
	transition: 1s;
}

.kiri.muncul4, .kanan.muncul4{
	opacity: 1;
	transform: translate(0,0);
}
.textab{
	opacity: 0;
	transform: translate(0, -100px);
	transition: 1s;

}
.textab.muncul8{
	opacity: 1;
	transform: translate(0,0);
}




h6{
	font-weight: bold;

}
h3{
	margin-bottom: 100px;
}
.row .col .card-panel{
	border-radius: 12px 12px;
	cursor: pointer;
}
.row .col .card-panel:hover{
	box-shadow: 0px 15px 50px #0277bd;
	
}

.service .text{
	opacity: 0;
	transform: translate(0, -100px);
	transition: 1s;
}
.service .col{
	opacity: 0;
	transform: translate(0, 100px);
	transition: 1s;

}

.service .text.munc{
	opacity: 1;
	transform: translate(0,0);
	
}
.service .col.munc1{
	opacity: 1;
	transform: translate(0,0);
	

}


.portofolio .img{
	opacity: 0;
	transform: translate(0, 100px);
	transition: 1s;
	margin-bottom: 10px;

}
.portofolio .text{
	opacity: 0;
	transform: translate(0, -100px);
	transition: 1s;

}

.portofolio .img.muncul {
	opacity: 1;
	transform: translate(0,0);
}
.portofolio .text.muncul1{
	opacity: 1;
	transform: translate(0,0);
}


/*form*/

  /* label color */
   .input-field label {
     color: gray;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label , .input-field textarea:focus + label {
     color: white !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea:focus {
     border-bottom: 1px solid white !important;
     box-shadow: 0 1px 0 0 #fff !important;
   }
   /* valid color */
   .input-field input[type=text].valid, .input-field input[type=email].valid {
     border-bottom: 1px solid white !important;
     box-shadow: 0 1px 0 0 white !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid ,.input-field input[type=email].invalid {
     border-bottom: 1px solid red !important;
     box-shadow: 0 1px 0 0 red !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: white;
   }
   input, textarea{
   	color: white;
   }
 form{
 	margin-right: 15px;
 }




